<?xml version="1.0"?>
<launch>
    <node pkg="tutorial_all" type="mine" name="task_node" output="screen">
    </node>
    <node pkg="tutorial_serial" type="serial_node.py" name="serial_node" output="screen">
    </node>
    <node pkg="tutorial_vision" type="yolos.py" name="yolo" output="screen">
    <include file="$(find tutorial_vision)/launch/simple_camera_driver.launch" />
    <include file="$(find tutorial_basic)/launch/mavros.launch" />
    <include file="$(find tutorial_navigation)/launch/mid360.launch" />
</launch>
